<style>
    td,th{
        word-wrap: break-word;
    }
    td{
        white-space: nowrap;
        overflow: hidden;
        height: 30px;
    }
    td:nth-child(2){
        width: 55%;
    }
    table{
        width: 100%;
        background-color: white;
    }
</style>
<table>
    <tr>
        <th>回数</th>
        <th>タイトル</th>
        <th>逃走者の人数</th>
        <th>放送日</th>
        <th>ゲーム時間</th>
    </tr>
    <% data.games.forEach((game,index)=>{ %>
        <tr>
            <td><%= game.id %></td>
            <td><a href="/<%= data.on %>/game/<%= game.id %>.html"><%= game.detail.title %></a></td>
            <td><i class="fa fa-solid fa-user"></i>&nbsp;<%= game.detail.player.length %></td>
            <td><%= game.detail.date %></td>
            <td><%= game.detail.length %></td>
        </tr>
    <% }) %>
</table>