<style>
    td,th{
        word-wrap: break-word;
    }
    td{
        white-space: pre;
        overflow: hidden;
        height: 30px;
    }
    td:nth-child(2){
        width: 55%;
    }
    td:nth-last-child(1){
        text-align: left;
    }
    table{
        width: 100%;
        background-color: white;
    }
</style>
<div class="topan-section-shadow">
    <h1>第 <%= data.id %> 回 - <%= data.detail.title %></h1>
    <%- description %>
</div>
<br>
<h3>Catch Records</h3>
<table>
    <tr>
        <th>Time</th>
        <th>Player</th>
        <th>Message</th>
    </tr>
    <% data.detail.message.forEach((message,index)=>{ %>
        <tr>
            <td><%= message.time %></td>
            <td><%- message.person %></td>
            <td><%- message.display %></td>
        </tr>
    <% }) %>
</table>