<style>
    td,th{
        word-wrap: break-word;
    }
    td{
        white-space: pre;
        overflow: hidden;
        height: 30px;
    }
    td:nth-child(2){
        width: 55%;
    }
    td:nth-last-child(1):not(.round-starter){
        text-align: left;
    }
    table{
        width: 100%;
        background-color: white;
    }
    .messages-display{
        color: #888;
    }
    .round-starter{
        text-align: center;
    }
</style>
<div class="topan-section-shadow">
    <h2>第 <%= data.id %> 回 - <%= data.detail.title %></h2>
    <p class="messages-display">
        <strong>Date:</strong> <%= data.detail.date %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>Length:</strong> <%= data.detail.length %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>Count:</strong> <i class="fa fa-solid fa-user"></i> <%= data.detail.player.length %>
    </p>
    <%- description %>
</div>
<br>
<h3>Catch Records</h3>
<table>
    <tr>
        <th>Time</th>
        <th>Player</th>
        <th>Message</th>
    </tr>
    <% data.detail.message.forEach((message,index)=>{
        if(message.type=="round-start"){ %>
        <tr>
            <td colspan="3" class="round-starter"><%- message.display %></td>
        </tr>
        <% }
        else{ %>
        <tr>
            <td><%= message.time %></td>
            <td><%- message.person %></td>
            <td><%- message.display %></td>
        </tr>
        <% }
    }) %>
</table>