<div class="topan-section-shadow">
    <%- README %>
</div>

<style>
    table.data-process-tip {
        text-align: left;
        margin: 30px;
        font-family: 宋体;
        border: none;
    }

    table .data-process-tip-text {
        padding: 5px 8px;
        background-color: white;
        border: none;
        color: black;
    }

    table .data-process-tip-block {
        padding: 5px 8px;
        border: none;
    }

    .data-process-tip .completed{
        background-color: yellowgreen;
    }
    .data-process-tip .inputing{
        background-color: orange;
    }
    .data-process-tip .collecting{
        background-color: orangered;
    }
    .data-process-tip .empty{
        background-color: grey;
    }
</style>